<h1>{{ section.settings.title | escape }}</h1>

<div class="my-section">
{% if blog.tags.size > 0 %}
<div class="blog-filter">
<label class="blog-filter__label select-label" for="BlogTagFilter">{{ 'collections.filters.title_tags' | t }}</label>
<div class="select-group">
<select id="BlogTagFilter" aria-describedby="a11y-refresh-page-message a11y-selection-message">
<option value="{{ blog.url }}">{{ 'blogs.article.all_topics' | t }}</option>
{% for tag in blog.all_tags %}
<option value="{{ blog.url }}/tagged/{{ tag | handleize }}" {% if current_tags contains tag %}selected{% endif %}>{{ tag }}</option>
{% endfor %}
</select>
{% include 'icon-chevron-down' %}
</div>
</div>
{% endif %}
</div>
{%- assign blog = blogs[section.settings.blog] -%}

<ul>
{%- for article in blog.articles limit: section.settings.post_limit -%}
<li>
<a href="{{ article.url }}">
{%- if article.image -%}
{{ article | img_url: '150x150', scale: 2 | img_tag: '' }}
{%- endif -%}
<h2>{{ article.title }}</h2>
</a>

{%- if section.settings.blog_show_author -%}
<span>
By {{ article.author }}
</span>
{%- endif -%}

{%- if section.settings.blog_show_date -%}
<span>
{{ article.published_at | date: "%a, %b %d, %y" }}
</span>
{%- endif -%}

{%- if article.excerpt.size > 0 -%}
{{ article.excerpt }}
{%- else -%}
{{ article.content | strip_html | truncate: 150 }}
{%- endif -%}

{%- if article.tags.size > 0 -%}
<ul aria-label="{{ 'blogs.article.tags' }}">
{%- for tag in article.tags -%}
<li>
<a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
</li>
{%- endfor -%}
</ul>
{%- endif -%}

<ul>
<li>
<a href="{{ article.url }}" aria-label="Read more: {{ article.title }}">
Read more
</a>
</li>

{%- if blog.comments_enabled? and article.comments_count > 0 -%}
<li>
<a href="{{ article.url }}#comments">
{{ article.comments_count }} comments
</a>
</li>
{%- endif -%}

</ul>
</li>
{%- endfor -%}
</ul>


{%- if section.settings.show_view_all -%}
<a href="{{ blog.url }}"
class="btn"
aria-label="{{ 'blogs.article.view_all_blogs' }}">
{{ 'View all' }}
</a>
{%- endif -%}

{% schema %}
{
"name": "Blog posts",
"class": "index-section",
"settings": [
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Blog posts"
},
{
"id": "blog",
"type": "blog",
"label": "Blog"
},
{
"type": "range",
"id": "post_limit",
"label": "Posts",
"min": 1,
"max": 12,
"step": 1,
"default": 3
},
{
"type": "checkbox",
"id": "blog_show_author",
"label": "Show author",
"default": false
},
{
"type": "checkbox",
"id": "blog_show_date",
"label": "Show date",
"default": false
},
{
"type": "checkbox",
"id": "show_view_all",
"label": "Show 'View all' button",
"default": false
}
],
"presets": [
{
"name": "Blog posts",
"category": "Blog",
"settings": {
"blog": "News",
"post_limit": 3
}
},
{
"name": "Food posts",
"category": "Blog",
"settings": {
"blog": "Food",
"post_limit": 3
}
}
]
}
{% endschema %}