<div class="grid grid--no-gutters product-plan product-plan--{{ section.settings.section_height }}">
    {% case section.blocks.size %}
    {% when 1 %}
    {%- assign column_size = '' -%}
    {% when 2 %}
    {%- assign column_size = 'medium-up--one-half' -%}
    {% when 3 %}
    {%- assign column_size = 'medium-up--one-third' -%}
        {% else %}
    {%- assign column_size = 'medium-up--one-quarter' -%}
    {% endcase %}

    {% for block in section.blocks %}
    <div class="grid__item {{ column_size }} js" {{ block.shopify_attributes }}>
        {% if block.settings.link != blank %}
        <a class="product-plan__link" href="{{ block.settings.link }}">
            <div class="product-plan__item box ratio-container lazyload"
                 data-bgset="{% include 'bgset', image: block.settings.image %}"
                 data-sizes="auto"
                 data-parent-fit="cover"
                 style="background-position: {{ block.settings.alignment }}; background-image: url('{{ block.settings.image | img_url: '300x300' }});">
                {% elsif block.settings.image != blank %}
              {{ block.settings.product-plan-title }}
                <div class="product-plan__item product-plan__item--{{ block.id }} box ratio-container lazyload"
                     data-bgset="{% include 'bgset', image: block.settings.image %}"
                     data-sizes="auto"
                     data-parent-fit="cover"
                     style="background-position: {{ block.settings.alignment }}; background-image: url('{{ block.settings.image | img_url: '300x300' }});">
                    {% else %}
                    <div class="product-plan__item">
                        {% endif %}
                        <div class="product-plan__content{% if block.settings.cta_label != blank or block.settings.link != blank %} product-plan__overlay{% endif %}">
                            {% if block.settings.image == blank %}
                                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                            {% endif %}

                            {% if block.settings.cta_label != blank %}
                                <div class="product-plan__text">
                                    <h3 class="product-plan__caption">{{ block.settings.cta_label | escape }}</h3>
                                </div>
                            {% endif %}
                        </div>
                        {% if block.settings.link != blank %}
                    </div></a>
        {% else %}
    </div>
          {{ block.settings.description }}
          <div>
            <a href="{{ block.settings.more_link }}"
              class="btn btn--secondary btn--small"
              aria-label="{{ ariaLabel | escape }}">
              {{- block.settings.button_label | escape -}}
          	</a>
          </div>
          
    {% endif %}
</div>
      
<noscript>
    <div class="grid__item {{ column_size }}" {{ block.shopify_attributes }}>
        <div class="product-plan__item product-plan__item--{{ block.id }}" style="background-image: url({{ block.settings.image | img_url: '2048x' }});"></div>
    </div>
</noscript>
{% endfor %}
</div>

{% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
{% endif %}



{% schema %}
{
    "name": "Product Plan",
    "class": "index-section index-section--flush",
    "max_blocks": 4,
    "settings": [
        {
            "type": "select",
            "id": "section_height",
            "label": {
            "en": "Section height"
        },
        "default": "medium",
        "options": [
            {
                "label": "Extra Small",
                "value": "x-small"
            },
            {
                "label": "Small",
                "value": "small"
            },
            {
                "label": "Medium",
                "value": "medium"
            },
            {
                "label": "Large",
                "value": "large"
            },
            {
                "label": "Extra Large",
                "value": "x-large"
            }
        ]
        }   
    ],
    "blocks": [
        {
        "type": "image",
        "name": "PrP content",
        "settings": [
            {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
            },
            {
            "id": "product-plan-title",
            "type": "text",
            "label": "Product Plan Title"
            },
            {
            "id": "description",
            "type": "richtext",
            "label": "Description",
            "default": "<p>Product Plan Description</p>"
            },
            {
            "type": "select",
            "id": "alignment",
            "label": "Image alignment",
            "default": "center",
            "options": [
                {
                "value": "top",
                "label": "Top"
                },
                {
                "value": "center",
                "label": "Middle"
                },
                {
                "value": "bottom",
                "label": "Bottom"
                }
            ]
            },
            {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
            },
            {
            "type": "text",
            "id": "cta_label",
            "label": "Caption"
            },
  			{
            "type": "text",
            "id": "button_label",
            "label": "Button label",
  			"default": "Button"
            },
            {
            "type": "url",
            "id": "more_link",
            "label": "More"
            }
        ]
        }
    ],
    "presets": [
    {
    "name": "Gallery",
    "category": "Image",
    "blocks": [
        {
        "type": "image"
        },
        {
        "type": "image"
        },
        {
        "type": "image"
        }
    ]
    }
    ]
}
{% endschema %}
