<div class="page-width">
<div class="grid">
<div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
<div class="section-header text-center">
<h1>{{ page.title }}</h1>
</div>
<h4>There you can place any content you want. Hero section, for example.</h4>
<div class="rte">
{{ page.content }}
</div>
</div>
</div>
</div>
